.Home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #38224c;
    width: 100%;
    min-height: 100vh;
}

.Logo {
    margin: 2rem;
}

.SearchBar {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 50%;
}

.iconSearch {
    position: absolute;
    right: 0;
    padding: .2rem .75rem;
}