.SearchResultHeader {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #38224c;
    padding: 1rem;
}

.SearchResultLogo {
    width: 100px;
}

.SearchResultText {
    padding: 1rem 0;
    font-weight: 300;
}

.SearchResultItemTitle {
    color: #4007a2;
}

.SearchResultItemTitle:hover {
    text-decoration: underline;
}

.SearchResultItemLink {
    color: #006d21;
}

.SearchResultItemDescription {
    color: #444;
}
